@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    @apply bg-coach-950 text-white;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}
